*Objs/
*Data/
*Text/
Bladder/Data/
Bladder/Figs/
Bladder/Objs/
Bladder/renv/

Breast/Figs/
Breast/Data/
Breast/Objs/
Breast/renv/

Prostate/Data/
Prostate/Figs/
Prostate/Objs/
Prostate/renv/

*.Rproj
*.user
*renv/
*renv.lock
*.Rprofile
*.Rhistory
*.Rproj
*.user
*.DS_Store
.Rproj.user
*.gitignore
